<section><br />
    <h3>
        Picture of the day

    </h3> 
    <img src="account/image" />
    <aside>
        <!-- Search functionality -->

        
            <div class="form-group">
                <div class="controls">
                    <input id="title" data-bind="value: search" required
                           placeholder="Search Products" />
                    <button class="btn btn-info">
    Search
</button>
                </div>
            </div>
        

</aside>
</section>