<section><br />
    <ul class="btn-group pictures">
        <li><a href="#" class="thumbnail">
            

                <img src="/Content/images/membership.png" />
            
            </a></li>
        <li>
            <a href="#" class="thumbnail">


                <img src="/Content/images/membership.png" />

            </a>
        </li>
        <li>
            <a href="#" class="thumbnail">


                <img src="/Content/images/membership.png" />

            </a>
        </li>



    </ul>
</section>